#header-container {
    header{
        padding: 1.5rem $gutter;
        gap: 12px;
        h1{
            margin: 0;
            font-size: 1.8rem;
            font-weight: $boldWeight;
        }
    };


}