$primaryColor: #3498db;
$secondaryColor: #2ecc71;
$fontColor: #333333;

$fontPrimary: "Noto Sans", sans-serif;
$baseFontSize: 16px;

$lightWeight: 300;
$regularWeight: 400;
$boldWeight: 700;

$gutter: 16px;
